@import "tailwindcss";

@theme {
  --color-main: #2d2d2d;
  --color-secondary: #3d3d3d;
  --color-light: #e4e4e4;
  --color-outline: #d2d2d2;
  --color-red: hsl(0, 79%, 68%);
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

body {
  background-color: #2d2d2d;
  padding: 0 5vw;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}